p {
	font-family: "Gloria Hallelujah", cursive;
	width: 500px;
	color: white;
}
h1{
	font-family: "Lobster", sans-serif;
	color: #D60A58;
}

h2{
	font-family: "Lobster", sans-serif;
	color: #D60A58;
}

html{
	background: #F173A3;
}
img {
  border-radius: 10px;
}